/* styles.css */

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
background-image: url('http://dl6.glitter-graphics.net/pub/156/156996u4vu4loeqc.gif');
background-attachment: fixed;
background-repeat: repeat;
cursor: url('http://www.rw-designer.com/cursor-extern.php?id=57222'), auto;

}

.container {
  max-width: 1200px; /* Adjust the desired maximum width */
  margin: 0 auto;
  padding: 20px;
}

.header {
  padding: 20px;
  margin-top: 5%;
  text-align: center;
}



.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-top: 5%;
}

.gallery-item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid white;
  
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  
}

.username {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 8px;
  font-size: 14px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Adjust the height as needed */
  text-align: center;
  font-size: 14px;
  color: orange;
  
}

.footer a {
  color: orange; 


}
